---
layout: layout-page.njk
title: Acerca
description: Meta descripción de la página de acerca
---

<div class="container-fluid text-center text-white  p-4"  style="background-color: #870404 ;">
<h1>{{ title }}</h1>
</div>

<div class="container my-5 text-white">
  <section class="row">
    <article class="col-12 col-lg-4 text-center">
      <h2> Omar Morales </h2>
<p>
 Yo soy un estudiante de Ingeniería en Ciberseguridad, Me encanta mucho mi carrera disfruto mucho de la compañia de mis profesores enseñandome cosas increibles, disfruto de mis pasatiempos por ejemplo: Ver anime 🍥, practicar MMA 🥊 y estar en videojuegos ese soy yo 🎮
</p>
  </article>
   <article class="col-12 col-lg-4 text-center">
     <h2> Programación I </h2>
    <p>La materia que corresponde a este proyecto es <strong>Programación I 🖥️</strong>. </p>
   </article>
    <article class="col-12 col-lg-4 text-center">
      <h2> Proyecto Final </h2>
     <p> <p>Mi proyecto final consta de una <strong>wiki</strong> sobre el anime Naruto 🍥 <em></em> y <em></em>. En ella, encontrarás información clave sobre los personajes: sus historias y habilidades 😎 </p>
</p> 
 </section>
</div>